.add-post {
  margin-top: 10px;
  margin-bottom: 30px;
  .form-group {
    margin-top: 30px;
  }
}
.rdw-embedded-modal {
  height: auto !important;
}
.nav-bg {
  width: 100%;
  height: 50px;
  background-color: #0085a1;
  opacity: 0.5;
}
