.add-post {
  margin-top: 10px;
  margin-bottom: 30px;
  .form-group {
    margin-top: 30px;
  }
}
.rdw-embedded-modal {
  height: auto !important;
}
.rdw-editor-wrapper {
  background: #fff !important;
}
.rdw-image-imagewrapper {
  img {
    max-width: 100%;
    height: auto;
  }
}
.nav-bg {
  width: 100%;
  height: 50px;
  background-color: #0085a1;
  opacity: 0.5;
}

div.DraftEditor-root {
  border: 1px solid #e3e3e3;
  height: 500px;
  width: 100%;
  overflow-y: auto;
}
div.DraftEditor-editorContainer,
div.public-DraftEditor-content {
  height: 100%;
  margin: 10px 15px;
}
