@import "../../../mixins";
@import "../../../variables";

#login-wrapper {
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.6)),
    url("./login-bg.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 110vh;
  overflow: hidden;
  .Card {
    width: 500px;
    height: 400px;
    @media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
      width: 350px;
    }
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    input[type="password"]::placeholder,
    input[type="email"]::placeholder {
      text-align: center;
    }
    input[type="email"],
    input[type="password"] {
      text-align: center;
    }
    .login-btn {
      margin-top: 50px;
    }
    .card-icon {
      text-align: center;
      font-size: 5rem;
    }
    .spinner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}
